*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    line-height: 1.6;
    margin: 20px;

}
form{
    padding: 10px 15px;
    margin-left: 30%;
    margin-right: 30%;
    border: 1.5px solid #646174;
    background-color: #baf3f8;
}
button {
    margin: 5px;
    padding: 0 10px;
    text-align: center;
    font: bold 12px/25px Arial, sans-serif;
}

.header{
    padding: 10px 15px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    border: 1.5px solid #646174;
    background-color: #7bf4ff;
    box-shadow: 0px 0px 14px 0px rgba(85, 238, 255, 0.75);
    text-align: center;
    font-size: 30px;
}